<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<style>

.container{
	position: absolute;
	left: 70%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

h1 {
	color: green;
}
</style>
</head>
</html>
